</<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Sign in to SchoolService</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </head>
  <body>
    <h1>Welcome to School Service</h1>
  <form action="/home.html">
  <label for="email">Email:</label><br>
  <input type = "text" id = "email" name = "lname" placeholder="jdoe@lwsd.org"><br>
  <label for="password">Password:</label><br>
  <input type = "password" id = "password" name = "password" placeholder="password"><br>
  <input type="submit" value="Submit">


</form>

  </body>
</html>
