</<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Sign up for SchoolService</title>
  </head>
  <body>
    <h1>Welcome to School Service</h1>
  <form action="/home.html">
  <label for="email">Email:</label><br>
  <input type = "text" id = "email" name = "lname" placeholder="jdoe@lwsd.org"><br>
  <label for="password">Password:</label><br>
  <input type = "password" id = "password" name = "password" placeholder="jdoe@lwsd.org"><br>
  <input type="submit" value="Submit">


</form>

  </body>
</html>
