<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>

    <title>View Tutors</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="/static/scripts.js"></script>
    <style>
      #column1 {
        width: 20%;
        background: blue

      }
      #column2 {
        width : 60%;
        background: grey;
      }
      #contactInfo {
        width = 305
        background: green;
      }
      $
    </style>
</head>
<body>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark" style="height:80px;">
      <!-- Brand/logo -->
      <a class="navbar-brand" href="/home">
        <img src="/static/logo.png" alt="logo" width="60px">
      </a>

      <!-- Links -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link mx-2" href="#">Find a Tutor</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link" href="#">Find a Carpool</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto mr-4">
        <li class="nav-item">
          <a class="nav-link" href="/post"><b>Post</b></a>
        </li>
      </ul>
    </nav>
  <div id = "column1" style = "overflow: auto">
    {% for post in tutorPosts%}
    <div class = "tutorPosts" id="{{post.id}}" onclick = "viewTutorPost(this.id)">
      {{post["title"]}}
  </div>
    {% endfor%}
  </div>
  <div id = "column2" style = "overflow: auto">

  </div>
  <div id = "contactInfo" style = "overflow: auto">

  </div>
  </body>
