<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Sign up for SchoolService</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="card" style="width:400px">
      <img class="card-img-top" src="static/mathPhoto.jpg" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">Math</h4>
        <a href="#" class="btn btn-primary stretched-link">Click to View Tutors</a>
      </div>
    </div>
    <div class="card" style="width:400px">
      <img class="card-img-top" src="static/scienceImage.jpg" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">Science</h4>
        <a href="#" class="btn btn-primary stretched-link">Click to View Tutors</a>
      </div>
    </div>
    <div class="card" style="width:400px">
      <img class="card-img-top" src="static/ssPicture.jpg" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">Social Studies</h4>
        <a href="#" class="btn btn-primary stretched-link">Click to View Tutors</a>
      </div>
    </div>
    <div class="card" style="width:400px">
      <img class="card-img-top" src="static/languagePicture.jpg" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">Foreign Languages</h4>
        <a href="#" class="btn btn-primary stretched-link">Click to View Tutors</a>
      </div>
    </div>
    <div class="card" style="width:400px">
      <img class="card-img-top" src="static/mathPhoto.jpg" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">Math</h4>
        <a href="#" class="btn btn-primary stretched-link">Click to View Tutors</a>
      </div>
    </div>
    <div class="card" style="width:400px">
      <img class="card-img-top" src="static/csPicture.jfif" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">Computer Science</h4>
        <a href="#" class="btn btn-primary stretched-link">Click to View Tutors</a>
      </div>
    </div>
  </body>
